*
        {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            /* background-color: antiquewhite; */
        }
        img {
    max-width: 100%;
    max-height: 100%;
}
        .img-post {
            width: 80%;
            background-color: white;
            /* height: 60vh; */
            /* height: fit-content; */
            margin-left: 10%;
            margin-right: 10%;
            /* border: 2px solid black; */
            padding: 2%;
            border-radius: 40px;
            box-shadow: 10px 10px 5px grey;

        }

        .poster-details {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }

        .img-area {
            height: 70%;
            width: 90%;
            background-color: red;
        }

        .text-area {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .details {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
        .poster-details
        {
            height: 10%;
            background-color: green;
        }
        .pfp
        {
            height: 20%;
            background-color: aqua;
        }
        .pfp img
        {
            height: 50%;
        }
        .text-area
        {
            font-size: 1.25rem;
        }
        .pfp-row
        {
            font-size: 1.25rem;
            display: flex;
            width: 80.2%;
             margin-left: 8%;
             /* background-color: red; */
            /*margin-right: 10%; */
            flex-direction: row;
            justify-content: space-between;
            height: 10vh;
            padding-right: 2.5%;
            padding-left: 2.5%;
        }
        .img-row
        {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        .img-row img
        {
            width: 50%;
            height: 100%;
        }
        .tag-area
        {
            font-size: 1.25rem;
            color: blue;
        }
        .button-row
        {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

        }
        .btn{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            border: 1px solid purple;
            border-radius: 25px;
            color: purple;
            padding-right: 5%;
            padding-left: 5%;
        }
        .btn:hover
        {
            color: white;
            background-color: purple;
            transition-duration: 200ms;
        }