.dp{
    color: white;
}
.dp img{
    border-radius: 9999px;
    width: 75%;
}

.dp-section{
    padding: 20px;
    width: 75%;
    margin: 20px auto;
    color: white;
    display: grid;
    grid-template-columns: 30% 70%;
}
.dp-desc{
    text-align: left;
    padding-left: 30px;
    margin-left: 20px;
}
.share-social{
    list-style-type: none;
    display: flex;
}
.share-social li{
    font-size: 2rem;
    padding: 15px;
    margin: 5px;
    cursor: pointer;
}
.edit-profile{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    padding: 10px;
    border-radius: 9999px;
}
.image-gallery{
    width: 75%;
    margin: auto;
    color: white;
}
.add-image{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    padding: 10px;
    border-radius: 9999px;
}
.big-image img{
    width: 95%;
    border-radius: 10px;
}
.gallery{
    display: grid;
    grid-template-columns: 50% 50%;
}
.small-images img{
    margin: 5px;
}
.small-images img{
    width: 45%;
    border-radius: 10px;
}